
body {
  align-items: center;
  padding: 20;
  font-family: "Open Sans", sans-serif;
  color:black;
  background-color: rgba(114, 67, 12, 0.356);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin-bottom: 80px;
  display: run-in;
  justify-content: center;
  background-position: center;
  background-size: auto;
  background-repeat: no-repeat;
  font-size: 16px;
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
}
Body a{
  background-color: black;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
select.form-control,
textarea.form-control,
input.form-control {
    font-size: 16px;
    }
    input[type=file] {
    width: 50%;
}

.modal-backdrop {
  opacity:0.5 !important;
}
