.Header {
    padding-top: 20px;
    padding-bottom: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url("../images/background.jpg");
    background-position: center;
    background-size: auto;
    background-repeat: no-repeat;
    height: 100px;
}

.Header a {
    color: black;
    padding: 5px 10px;
    margin: 0 10px;
    text-decoration-style: solid;
    text-decoration: none;
}

.Header a:hover {
    background:lightblue;
}


.Header button:disabled {
    color: #ddd;
}

.Header .dropdown{
    border: none;
    margin: 0 0;
    color: black;
    padding: 7px 10px;
    text-decoration-style: solid;
    text-decoration: none;
}


