.Header {
    padding-top: 20px;
    padding-bottom: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: cadetblue;
    background-position: center;
    background-size: auto;
    background-repeat: no-repeat;
    height: 80px;
    /*opacity: 0.7;*/
    margin-bottom: 50px;
}

.Header a, .Header .header-btn{
    color: white;
    background-color: black;
    padding: 5px 10px;
    margin: 0 10px;
    font-size: 32px;
    text-decoration-style: solid;
    text-decoration: none;
}

.Header a:hover {
    background: darkgray;
}




